*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}

#el-box {
    background-color: red;
    height: 80vh;
    width: 50%;
}

#el-box1 {
    background-color: blue;
    height: 80vh;
    width: 50%;
}

main {
    display: flex;
    border: 6px solid yellow;
    height: 200vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}